{% extends '::base.html.twig' %}
	{% block header %} Guess Game Level Two! {% endblock %}        
	   {% block body %}
	 
	<form action="{{ path('Game2D') }}" method="post" {{ form_enctype(form) }}>
  	  	{{ form_widget(form) }}
   	 	<input type="submit" value="Go Ahead.." />
	</form>
           
	{% endblock %}
{% block top10 %}
<table widh='100%' border='1'>
<tr><th>Name</th><th>Scors</th></tr>
{% for visitor in visitors %}
<tr>
        <td>{{ visitor.name }}</td><td>{{ visitor.second }}</td></tr>    
{% endfor %}
</table>
{% endblock %}
{% block menue %}
		<ul>
			<li><a href="create">Home</a></li>			
			<li><a href="{{ D1 }}" >Play 1D</a></li>
			<li><a href="{{ D2 }}" >Play 2D</a></li>
			<li><a href="{{ D3 }}" >Play 3D</a></li>
			<li><a href="help" >Help</a></li>
			<li><a href="about" >About Us</a></li>
		
		</ul>
	{% endblock %}

